<footer class="footer container">
    <div class="row">
        <div class="col-md-6 col-lg-4 footer__col">
            <h6 class="title title_h6 text_uppercase">Office</h6>
            <ul class="footer__contacts">
                <li>Toronto, ON<br />Canada</li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4 footer__col">
            <h6 class="title title_h6 text_uppercase">Get in touch</h6>
            <ul class="footer__contacts">
                <li>info@edialu.com</li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4 footer__col">
            <h6 class="title title_h6 text_uppercase">Follow</h6>
            <ul class="footer__contacts">
                <li>Connect with me on 
                    <a class="link_decoration" href="https://www.linkedin.com/in/ehinomenidialu/">linkedIn</a>,<br />
                    <a class="link_decoration" href="https://github.com/Bertley/">github</a> or 
                    <a class="link_decoration" href="https://www.instagram.com/ehisidialu/">instagram</a>
                </li>
            </ul>
        </div>
    </div>
</footer>