<div class="container">
    <div class="row outer_top-bottom_20 os">
        <div class="col-12">
            <h3 class="title title_h3 _title_horizontal-line-center">Awards / recognitions / Certifications
                /Education</h3>
        </div>
        <div class="col-12">
            <table class="table table_v2">
                <thead>
                    <tr>
                        <th>Awards</th>
                        <th>From</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Awards"><strong>Graduate Certificate</strong> / <span>Web Development</span>
                        </td>
                        <td data-th="Project">Humber College</td>
                        <td data-th="Year">2018</td>
                    </tr>
                    <tr>
                        <td data-th="Awards"><strong>B.Eng</strong> / <span>Mechanical Engineering</span>
                        </td>
                        <td data-th="Project">Covenant University</td>
                        <td data-th="Year">2015</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>