{% load static %}
<div class="summary">
    <div class="groupbody">
        I am currently working as a software and data engineer with a  team of amazing developers, designers supported by  talented account/project managers and a digital excellence team. I have a passion for developing data driven applications that impacts my users positively.<br />I have a background in mechanical engineering, <br />I have a track record of architecting and developing a contest application for Pepsi,  Shopify custom themes and applications. native applications for Merck and some projects for fun.
    </div>
    <div class="groupheader">
        <div class="group4copy">
            <div class="rectanglecopy">
            </div>
            <img alt="Image"   src="{% static 'images/resume-rectangle-copy-2-1.png' %}" class="rectanglecopy2" />
        </div>
        <div class="group5">
            <div class="professionalsummary">
                PROFESSIONAL SUMMARY
            </div>
        </div>
    </div>
</div>