{% load static %}
<div class="skills">
    <div class="groupbody">
        <div class="managementskillsc">
            <span class="span1">Management skills: </span><span class="span2">Come up with features and requirements to satisfy customer needs from conversions with clients/account managers.  Conceptualize these features and break them into tasks for my teammates for effective implementation.<br /><br /><br /></span>
        </div>
        <div class="webtechnologiespy">
            <span class="span1">Web Technologies: </span><span class="span2">Python, Php, JavaScript(ES6), Dart</span>
        </div>
        <div class="frameworksdjango">
            <span class="span1">Frameworks: </span><span class="span2">Django, Laravel, React Native, Flutter</span>
        </div>
        <div class="databasemysqlpos">
            <span class="span1">Database: </span><span class="span2">MySQL, PostgreSQL, Excel</span>
        </div>
        <div class="versioninggit">
            <span class="span1">Versioning: </span><span class="span2">Git</span>
        </div>
        <div class="deploymentheroku">
            <span class="span1">Deployment: </span><span class="span2">Heroku, Docker</span>
        </div>
        <div class="paymentgatewaysst">
            <span class="span1">Payment Gateways:</span><span class="span2"> Stripe</span>
        </div>
    </div>
    <div class="groupheader">
        <div class="group4copy">
            <div class="rectanglecopy">
            </div>
            <img alt="Image"   src="{% static 'images/resume-rectangle-copy-2-1.png' %}" class="rectanglecopy2" />
        </div>
        <div class="group5">
            <div class="skills1">
                SKILLS
            </div>
        </div>
    </div>
</div>