{% load static %}
<div class="experinces">
    <div class="groupbody">
        <div class="group9copy">
            <div class="group111">
                <div class="a20152017">
                    2015 - 2017
                </div>
                <div class="group7">
                    <div class="group6">
                        <div class="nationalagencyfor">
                            National Agency For Control of Aids
                        </div>
                        <div class="fullstackdeveloper">
                            Full Stack Developer &amp; UX/UI Designer
                        </div>
                        <div class="environmentdjango">
                            <span class="span1">Environment: </span><span class="span2">Django, PostgreSQL,  ReactJS </span>
                        </div>
                    </div>
                </div>
                <div class="group10">
                    <div class="group8">
                        <img alt="Image" src="{% static 'images/resume-oval-5@2x.png'%}" class="oval"/>
                        <div class="envisioningdesign">
                            Envisioning &amp; designing technical aspects of clientâs strategy for ensuring alignment with business &amp; strategic goals
                        </div>
                    </div>
                </div>
                <div class="group10copy">
                    <div class="group8">
                        <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                        <div class="singlehandedlystrat">
                            Singlehandedly strategizing plans to achieve product stability &amp; profitability by optimization of available resources
                        </div>
                    </div>
                </div>
                <div class="group10copy2">
                    <div class="group8">
                        <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                        <div class="leadateamof3dev">
                            Lead a team of 3 Developers to develop a tutoring service app.
                        </div>
                    </div>
                </div>
                <div class="group10copy3">
                    <div class="group8">
                        <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                        <div class="developingshopifyt">
                            Developing shopify themes with custom designs.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group11">
            <div class="a2019present">
                2019 - Present
            </div>
            <div class="group7">
                <div class="group6">
                    <div class="elitedigitalinc">
                        ELITE DIGITAL INC
                    </div>
                    <div class="backenddeveloper">
                        Backend Developer
                    </div>
                    <div class="environmentlaravel">
                        <span class="span1">Environment: </span><span class="span2">Laravel, MySQL, ReactJS, Flutter, React Native, Phalcon</span>
                    </div>
                </div>
            </div>
            <div class="group10">
                <div class="group8">
                    
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="turningbusinessreq">
                        Turning business requirements into code, in close collaboration with product managers, account managers, front-end web and mobile developers.
                    </div>
                </div>
                <div class="group8copy">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="spearheadingateam">
                        <span class="span1">Spearheading a team of </span><span class="span2">~5 Developers </span><span class="span3">to conceptualize and effectively implement the </span><span class="span4">Report Wizard </span><span class="span5">feature for PepsiCoâs BTcup web application that generates </span><span class="span6">20+</span><span class="span7"> types of reports. </span>
                    </div>
                </div>
                <div class="group8copy2">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="conceptualizeddes">
                        <span class="span1">Conceptualized &amp; designed the relational database of Btcup which currently holds </span><span class="span2">~1,000,000</span><span class="span3"> rows of unique data.  </span>
                    </div>
                </div>
                <div class="group8copy3">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="designingsqlquerie">
                        Designing SQL queries to gather statistics from various contests across Canada and generate reports for our clients.
                    </div>
                </div>
                <div class="group8copy5">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="developingalgorithm">
                        Developing algorithms to process data we receive from our users.
                    </div>
                </div>
                <div class="group8copy4">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="developingtemplates">
                        Developing templates and services that improve the efficiency of our apps.
                    </div>
                </div>
                <div class="group8copy7">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="conceptualizeddev">
                        Conceptualized &amp; developed iOS and Adroid Apps used by surgeons. The App serves as an assistant to surgeons during surgeries for everything about bridion.
                    </div>
                </div>
                <div class="group8copy10">
                    <img alt="Image" src="{% static 'images/resume-oval-5@2x.png' %}" class="oval"/>
                    <div class="developediosandad">
                        Developed iOS and Adroid apps used by Rogers CBU &amp; EBU conference members to keep track of their daily agendas.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="groupheader">
        <div class="group4copy">
            <div class="rectanglecopy">
            </div>
            <img alt="Image" src="{% static 'images/resume-rectangle-copy-2-1.png' %}" class="rectanglecopy2"/>
        </div>
        <div class="group5">
            <div class="experience">
                EXPERIENCE
            </div>
        </div>
    </div>
</div>