{% load static %}
<div class="education">
    <div class="groupbody">
        <div class="group">
            <div class="a20172018">
                2017 - 2018
            </div>
            <div class="group7">
                <div class="group6">
                    <div class="humbercollege">
                        HUMBER COLLEGE
                    </div>
                    <div class="webdevelopment">
                        Web Development
                    </div>
                </div>
            </div>
        </div>
        <div class="groupcopy">
            <div class="a20102015">
                2010 - 2015
            </div>
            <div class="group7">
                <div class="group6">
                    <div class="covenantuniversity">
                        COVENANT UNIVERSITY
                    </div>
                    <div class="mechanicalengineeri">
                        Mechanical Engineering
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="groupheader">
        <div class="group4copy">
            <div class="rectanglecopy">
            </div>
            <img alt="Image" src="{% static 'images/resume-rectangle-copy-2-1.png'%}" class="rectanglecopy2"/>
        </div>
        <div class="group5">
            <div class="education1">
                EDUCATION
            </div>
        </div>
    </div>
</div>