{% load static %}
<div class="info">
    <div class="name">
        EHINOMEN IDIALU
    </div>
    <div class="title">
        Backend Developer &amp; UX Designer
    </div>
    <div class="address">
        20 Shore Breeze Drive/ Toronto, Ontario/ M8V 1A1
    </div>
    <div class="phone">
        <img alt="Image" src="{% static 'images/resume-phone-solid@2x.png' %}" class="phonesolid"/>
        <div class="a6472199006">
            647 219 9006
        </div>
    </div>
    <div class="email">
        <img alt="Image" src="{% static 'images/resume-path@2x.png' %}" class="path"/>
        <div class="eedialugmailcom">
            eedialu@gmail.com
        </div>
    </div>
    <div class="websites">
        <div class="linksolid">
            <img alt="Image" src="{% static 'images/resume-shape@2x.png' %}" class="shape"/>
        </div>
        <div class="githubcombertley">
            github.com/bertley, www.edialu.com
        </div>
    </div>
</div>