<div class="container section-news margin_nav">
    <!-- Post -->
     <div class="news-singel">
         <header class="news-singel__header">
             <h2 class="title title_h1"><span class="down-up-2 animated"><span>Character, like a photograph, develops in darkness.</span></span></h2>
             <p class="paragraph"><span class="down-up-2 animated"><span>I wish that all of nature’s magnificence, the emotion of the land, the living energy of place could be photographed.</span></span></p>
         </header>
         <div class="news-singel__image">
             <div class="reveal animated">
                 <iframe src="https://www.youtube.com/embed/XPIrnAcmCSk"></iframe>
             </div>
             <div class="vertical-text_bottom-right share">
                 <a class="share__link" href="">FB</a>
                 <a class="share__link" href="">TW</a>
                 <a class="share__link" href="">IG</a>
             </div>
         </div>
         <div class="row">
             <div class="col-12">
                 <div class="news-singel__caption">
                     <h3 class="title title_h3">What's up</h3>
                       <p>To me, photography is an art of observation. It’s about finding something interesting in an ordinary place… I’ve found it has little to do with the things you see and everything to do with the way you see them. If the photographer is interested in the people in front of his lens, and if he is compassionate, it’s already a lot. The instrument is not the camera but the photographer.</p>
                     <p>A tear contains an ocean. A photographer is aware of the tiny moments in a persons life that reveal greater truths. The camera makes you forget you’re there. It’s not like you are hiding but you forget, you are just looking so much. What I like about photographs is that they capture a moment that’s gone forever, impossible to reproduce. To me, photography is an art of observation. It’s about finding something interesting an ordinary place… I’ve found it has little to do with the things you see and everything to do with the way you see them.</p>
                     <blockquote class="block-quote text-center">
                         <p>“Most things in life are moments of pleasure and a lifetime of embarrassment; photography is a moment of embarrassment and a lifetime of pleasure.”</p>
                         <cite>— Tony Benn</cite>
                     </blockquote>
                     <p>The camera is an excuse to be someplace you otherwise don’t belong. It gives me both a point of connection and a point of separation. Most things in life are moments of pleasure and a lifetime of embarrassment; photography is a moment of embarrassment and a lifetime of pleasure. Life is like a camera. Just focus on what’s important and capture the good times, develop from the negatives and if things don’t work out, just take another shot. It’s weird that photographers spend years or even a whole lifetime, trying to capture moments that added together, don’t even amount to a couple of hours.</p>
                     <p>It’s weird that photographers spend years or even a whole lifetime, trying to capture moments that added together, don’t even amount to a couple of hours.</p>
                 </div>
             </div>
         </div>
     </div>
     <!-- /Post -->
 </div>