{%load static%}
<nav class="navbar slideInDown">
    <div class="mr-auto">
        <a href="{%url 'home'%}">
            <img class="logotype" src="{% static 'images/logo.svg'%}" alt="Fotico">
        </a>
    </div>
    <div class="ml-auto">
        <!-- <a class="lang lang_active" href="#">EN</a>
        <a class="lang" href="#">FR</a>
        <a class="lang" href="#">IT</a> -->
        <button class="hamburger" type="button">
            <span class="hamburger-inner"></span>
        </button>
    </div>
</nav>